

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Index &mdash; Mturk2gform  documentation</title>
  

  
  <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="_static/pygments.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
        <script src="_static/jquery.js"></script>
        <script src="_static/underscore.js"></script>
        <script src="_static/doctools.js"></script>
        <script src="_static/language_data.js"></script>
    
    <script type="text/javascript" src="_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="#" />
    <link rel="search" title="Search" href="search.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="index.html" class="icon icon-home" alt="Documentation Home"> Mturk2gform
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Contents:</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="modules.html">mt2gf</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="index.html">Mturk2gform</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="index.html" class="icon icon-home"></a> &raquo;</li>
        
      <li>Index</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            

<h1 id="index">Index</h1>

<div class="genindex-jumpbox">
 <a href="#A"><strong>A</strong></a>
 | <a href="#B"><strong>B</strong></a>
 | <a href="#C"><strong>C</strong></a>
 | <a href="#D"><strong>D</strong></a>
 | <a href="#G"><strong>G</strong></a>
 | <a href="#L"><strong>L</strong></a>
 | <a href="#M"><strong>M</strong></a>
 | <a href="#R"><strong>R</strong></a>
 | <a href="#S"><strong>S</strong></a>
 | <a href="#T"><strong>T</strong></a>
 
</div>
<h2 id="A">A</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.approve_all_hits">approve_all_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.approve_correct_assignments">approve_correct_assignments() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.approve_correct_hits">approve_correct_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.approve_delete_all_hits">approve_delete_all_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="B">B</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.preprocess.batchnumber2formidxes">batchnumber2formidxes() (in module mt2gf.data.preprocess)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="C">C</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.preprocess.check_is_complete">check_is_complete() (in module mt2gf.data.preprocess)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.preprocess.check_previous_batches">check_previous_batches() (in module mt2gf.data.preprocess)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.clean_worker">clean_worker() (in module mt2gf.data.auto_mturk)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.html#mt2gf.utils.create_batch_directories">create_batch_directories() (in module mt2gf.utils)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.create_forms_hits">create_forms_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.create_mturk_client">create_mturk_client() (in module mt2gf.data.auto_mturk)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="D">D</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.delete_all_hits">delete_all_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.delete_hit">delete_hit() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.detect_password_frauders">detect_password_frauders() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_drive.download_csv">download_csv() (in module mt2gf.data.auto_drive)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_drive.download_drive_txt">download_drive_txt() (in module mt2gf.data.auto_drive)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_drive.download_multi_csv">download_multi_csv() (in module mt2gf.data.auto_drive)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="G">G</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.get_answer">get_answer() (in module mt2gf.data.auto_mturk)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_drive.get_batch_form_urls">get_batch_form_urls() (in module mt2gf.data.auto_drive)</a>

      <ul>
        <li><a href="mt2gf.html#mt2gf.utils.get_batch_form_urls">(in module mt2gf.utils)</a>
</li>
      </ul></li>
      <li><a href="mt2gf.data.html#mt2gf.data.preprocess.get_batch_indexes">get_batch_indexes() (in module mt2gf.data.preprocess)</a>
</li>
      <li><a href="mt2gf.html#mt2gf.turk_widgets.get_control_panel">get_control_panel() (in module mt2gf.turk_widgets)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_drive.get_drive_service">get_drive_service() (in module mt2gf.data.auto_drive)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_drive.get_form_urls">get_form_urls() (in module mt2gf.data.auto_drive)</a>

      <ul>
        <li><a href="mt2gf.html#mt2gf.utils.get_form_urls">(in module mt2gf.utils)</a>
</li>
      </ul></li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.get_results">get_results() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.get_url">get_url() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="L">L</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.list_all_assignments">list_all_assignments() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.list_assignments">list_assignments() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.list_hits">list_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.list_reviewable_hits">list_reviewable_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="M">M</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li>
    module

      <ul>
        <li><a href="mt2gf.html#module-mt2gf">mt2gf</a>
</li>
        <li><a href="mt2gf.html#module-mt2gf.constants">mt2gf.constants</a>
</li>
        <li><a href="mt2gf.data.html#module-mt2gf.data">mt2gf.data</a>
</li>
        <li><a href="mt2gf.data.html#module-mt2gf.data.auto_drive">mt2gf.data.auto_drive</a>
</li>
        <li><a href="mt2gf.data.html#module-mt2gf.data.auto_mturk">mt2gf.data.auto_mturk</a>
</li>
        <li><a href="mt2gf.data.html#module-mt2gf.data.preprocess">mt2gf.data.preprocess</a>
</li>
        <li><a href="mt2gf.html#module-mt2gf.turk_widgets">mt2gf.turk_widgets</a>
</li>
        <li><a href="mt2gf.html#module-mt2gf.utils">mt2gf.utils</a>
</li>
      </ul></li>
      <li>
    mt2gf

      <ul>
        <li><a href="mt2gf.html#module-mt2gf">module</a>
</li>
      </ul></li>
      <li>
    mt2gf.constants

      <ul>
        <li><a href="mt2gf.html#module-mt2gf.constants">module</a>
</li>
      </ul></li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li>
    mt2gf.data

      <ul>
        <li><a href="mt2gf.data.html#module-mt2gf.data">module</a>
</li>
      </ul></li>
      <li>
    mt2gf.data.auto_drive

      <ul>
        <li><a href="mt2gf.data.html#module-mt2gf.data.auto_drive">module</a>
</li>
      </ul></li>
      <li>
    mt2gf.data.auto_mturk

      <ul>
        <li><a href="mt2gf.data.html#module-mt2gf.data.auto_mturk">module</a>
</li>
      </ul></li>
      <li>
    mt2gf.data.preprocess

      <ul>
        <li><a href="mt2gf.data.html#module-mt2gf.data.preprocess">module</a>
</li>
      </ul></li>
      <li>
    mt2gf.turk_widgets

      <ul>
        <li><a href="mt2gf.html#module-mt2gf.turk_widgets">module</a>
</li>
      </ul></li>
      <li>
    mt2gf.utils

      <ul>
        <li><a href="mt2gf.html#module-mt2gf.utils">module</a>
</li>
      </ul></li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.MTurkparam">MTurkparam (class in mt2gf.data.auto_mturk)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="R">R</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.html#mt2gf.utils.read_access_keys">read_access_keys() (in module mt2gf.utils)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="S">S</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.save_worker_infos">save_worker_infos() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.stop_all_hits">stop_all_hits() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker.stop_hit">stop_hit() (mt2gf.data.auto_mturk.Turker method)</a>
</li>
  </ul></td>
</tr></table>

<h2 id="T">T</h2>
<table style="width: 100%" class="indextable genindextable"><tr>
  <td style="width: 33%; vertical-align: top;"><ul>
      <li><a href="mt2gf.data.html#mt2gf.data.auto_mturk.Turker">Turker (class in mt2gf.data.auto_mturk)</a>
</li>
  </ul></td>
</tr></table>



           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2020, Yann Mentha

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>