

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>mt2gf package &mdash; Mturk2gform  documentation</title>
  

  
  <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="_static/pygments.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
        <script src="_static/jquery.js"></script>
        <script src="_static/underscore.js"></script>
        <script src="_static/doctools.js"></script>
        <script src="_static/language_data.js"></script>
    
    <script type="text/javascript" src="_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
    <link rel="next" title="mt2gf.data package" href="mt2gf.data.html" />
    <link rel="prev" title="mt2gf" href="modules.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="index.html" class="icon icon-home" alt="Documentation Home"> Mturk2gform
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="modules.html">mt2gf</a><ul class="current">
<li class="toctree-l2 current"><a class="current reference internal" href="#">mt2gf package</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#subpackages">Subpackages</a><ul>
<li class="toctree-l4"><a class="reference internal" href="mt2gf.data.html">mt2gf.data package</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="#submodules">Submodules</a></li>
<li class="toctree-l3"><a class="reference internal" href="#module-mt2gf.constants">mt2gf.constants module</a></li>
<li class="toctree-l3"><a class="reference internal" href="#module-mt2gf.turk_widgets">mt2gf.turk_widgets module</a></li>
<li class="toctree-l3"><a class="reference internal" href="#module-mt2gf.utils">mt2gf.utils module</a></li>
<li class="toctree-l3"><a class="reference internal" href="#module-mt2gf">Module contents</a></li>
</ul>
</li>
</ul>
</li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="index.html">Mturk2gform</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="modules.html">mt2gf</a> &raquo;</li>
        
      <li>mt2gf package</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="_sources/mt2gf.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="mt2gf-package">
<h1>mt2gf package<a class="headerlink" href="#mt2gf-package" title="Permalink to this headline">¶</a></h1>
<div class="section" id="subpackages">
<h2>Subpackages<a class="headerlink" href="#subpackages" title="Permalink to this headline">¶</a></h2>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="mt2gf.data.html">mt2gf.data package</a><ul>
<li class="toctree-l2"><a class="reference internal" href="mt2gf.data.html#submodules">Submodules</a></li>
<li class="toctree-l2"><a class="reference internal" href="mt2gf.data.html#module-mt2gf.data.auto_drive">mt2gf.data.auto_drive module</a></li>
<li class="toctree-l2"><a class="reference internal" href="mt2gf.data.html#module-mt2gf.data.auto_mturk">mt2gf.data.auto_mturk module</a></li>
<li class="toctree-l2"><a class="reference internal" href="mt2gf.data.html#mt2gf-data-fraudulous-module">mt2gf.data.fraudulous module</a></li>
<li class="toctree-l2"><a class="reference internal" href="mt2gf.data.html#module-mt2gf.data.preprocess">mt2gf.data.preprocess module</a></li>
<li class="toctree-l2"><a class="reference internal" href="mt2gf.data.html#mt2gf-data-watcher-module">mt2gf.data.watcher module</a></li>
<li class="toctree-l2"><a class="reference internal" href="mt2gf.data.html#module-mt2gf.data">Module contents</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="section" id="submodules">
<h2>Submodules<a class="headerlink" href="#submodules" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-mt2gf.constants">
<span id="mt2gf-constants-module"></span><h2>mt2gf.constants module<a class="headerlink" href="#module-mt2gf.constants" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-mt2gf.turk_widgets">
<span id="mt2gf-turk-widgets-module"></span><h2>mt2gf.turk_widgets module<a class="headerlink" href="#module-mt2gf.turk_widgets" title="Permalink to this headline">¶</a></h2>
<dl class="py function">
<dt id="mt2gf.turk_widgets.get_control_panel">
<code class="sig-prename descclassname">mt2gf.turk_widgets.</code><code class="sig-name descname">get_control_panel</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">turk</span></em>, <em class="sig-param"><span class="n">gform_map_id</span></em>, <em class="sig-param"><span class="n">monitor_qualif_id</span><span class="o">=</span><span class="default_value">None</span></em>, <em class="sig-param"><span class="n">max_forms_per_worker</span><span class="o">=</span><span class="default_value">None</span></em><span class="sig-paren">)</span><a class="headerlink" href="#mt2gf.turk_widgets.get_control_panel" title="Permalink to this definition">¶</a></dt>
<dd><p>Displays the most important features from the Turker through an Ipywidgets
control panel in the jupyer notebook</p>
<dl class="simple">
<dt>Args:</dt><dd><p>turk (mt2gf.Turker): the Turker instance that will handle the actions
gform_map_id (str): google drive id of the google forms mapping file</p>
</dd>
</dl>
</dd></dl>

</div>
<div class="section" id="module-mt2gf.utils">
<span id="mt2gf-utils-module"></span><h2>mt2gf.utils module<a class="headerlink" href="#module-mt2gf.utils" title="Permalink to this headline">¶</a></h2>
<p>misc utilities functions</p>
<dl class="py function">
<dt id="mt2gf.utils.create_batch_directories">
<code class="sig-prename descclassname">mt2gf.utils.</code><code class="sig-name descname">create_batch_directories</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">directory</span></em>, <em class="sig-param"><span class="n">n_dirs</span></em><span class="sig-paren">)</span><a class="headerlink" href="#mt2gf.utils.create_batch_directories" title="Permalink to this definition">¶</a></dt>
<dd><p>create the directories to receive the results from the batches</p>
<dl class="simple">
<dt>Args:</dt><dd><p>directory (pathlib.Path): directory in which create the batches directories
n_dirs (int): number of directories to create</p>
</dd>
</dl>
</dd></dl>

<dl class="py function">
<dt id="mt2gf.utils.get_batch_form_urls">
<code class="sig-prename descclassname">mt2gf.utils.</code><code class="sig-name descname">get_batch_form_urls</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">service</span></em>, <em class="sig-param"><span class="n">file_id</span></em>, <em class="sig-param"><span class="n">form_indexes</span></em><span class="sig-paren">)</span><a class="headerlink" href="#mt2gf.utils.get_batch_form_urls" title="Permalink to this definition">¶</a></dt>
<dd><p>returns the subpart of the formidx2url and formidx2gid
specific to the form_indexes passed in parameter</p>
</dd></dl>

<dl class="py function">
<dt id="mt2gf.utils.get_form_urls">
<code class="sig-prename descclassname">mt2gf.utils.</code><code class="sig-name descname">get_form_urls</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">service</span></em>, <em class="sig-param"><span class="n">file_id</span></em>, <em class="sig-param"><span class="n">url_index_path</span></em><span class="sig-paren">)</span><a class="headerlink" href="#mt2gf.utils.get_form_urls" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="py function">
<dt id="mt2gf.utils.read_access_keys">
<code class="sig-prename descclassname">mt2gf.utils.</code><code class="sig-name descname">read_access_keys</code><span class="sig-paren">(</span><em class="sig-param"><span class="n">file_path</span></em><span class="sig-paren">)</span><a class="headerlink" href="#mt2gf.utils.read_access_keys" title="Permalink to this definition">¶</a></dt>
<dd><p>Read the AWS keys at the given file_path</p>
<dl class="simple">
<dt>Args:</dt><dd><p>file_path (str): path to the AWS access key file</p>
</dd>
<dt>Return</dt><dd><p>[str],[str]: the access key and the secret access key</p>
</dd>
</dl>
</dd></dl>

</div>
<div class="section" id="module-mt2gf">
<span id="module-contents"></span><h2>Module contents<a class="headerlink" href="#module-mt2gf" title="Permalink to this headline">¶</a></h2>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="mt2gf.data.html" class="btn btn-neutral float-right" title="mt2gf.data package" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="modules.html" class="btn btn-neutral float-left" title="mt2gf" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2020, Yann Mentha

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>