<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="/css/timeline.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    </head>
<body>
    <!-- <script src="app.js"></script> -->

    <script src="/js/particles.js" ></script>

    <script src="/js/main_particle.js"></script>
    <div id="particles-js"></div>
</body>