---
---

<h1 align="middle">Coucou</h1>
<div class="center container" align="middle">
  <div class="row" align="middle">
    <div class="col-lg-12" align="middle">
      <ul class="timeline" align="middle">

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/mathis.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2021</h4>
              <h4 class="subheading">Research Developer, Mathis Laboratory</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Development of a distributed data-pipeline aiming at synchronizing multiple AI and neuroscience experiments.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/topo.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2021</h4>
              <h4 class="subheading">Research Developer, Topology and Neuroscience Laboratory</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Topological Data Analysis for Covid19 tracing data of Geneva canton. We perform a network analysis on time-series of graphs to observe if the increase in number of Covid cases might be explained by changes in the topological structure of these graphs.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/visium.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2020</h4>
              <h4 class="subheading">Part-time Machine Learning engineer,Visium</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                As of today, I keep working at Visium as a part-time ML engineer in parallel of my studies. The topics I work on involve NLP, object detection and information retrieval.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/visium.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2020</h4>
              <h4 class="subheading">Machine Learning Intern,Visium</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                In order to gain practical experience in industry, I decided to perform an internship in an ML consulting company. During this time, I improved solutions for 3 client projects (major Swiss companies) in Natural Language processing and Time Series forecasting. I also built the building blocks of a backend software and prepared deliverables for the DevOps.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/eth.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2018-2019</h4>
              <h4 class="subheading">Exchange year, ETH</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Great accademic results allowed me to attend the master of Data Science at EPFL, for which I still had to confirm credits in CSE. I took this opportunity to peform an exchange at ETH.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/techno_deplancke.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2017-2018</h4>
              <h4 class="subheading">Research Assistant in Bioinformatics, Deplancke's Lab</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Thanks to encouraging results, I got hired as a research assistant in the same laboratory to pursue my research on the same topic.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/techno_deplancke.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2017</h4>
              <h4 class="subheading">Software Development Intern, Deplancke's Lab</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                I worked on the development of a multithreaded C++ real-time image analysis software facilitating a deterministic cell-bead coencapsulation allowing subsequent single cell sequencing.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/new_epfl.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2017-2019</h4>
              <h4 class="subheading">Teaching Assistant</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                I worked as a C++ Object Oriented and Statistics teaching assistant during my whole cursus at EPFL.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/new_epfl.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2015-2017</h4>
              <h4 class="subheading">Bachelor</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Student at EPFL in Life Science Engineering
              </p>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>