<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/timeline.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/js/fade.js"></script>
</head>
<body>
    <div class="timeline">
    In order to put new knowledge into practice and gain my financial independence, I work under multiple positions as a part-time engineer, trying to discover as much to the research🔬 sector as the industry💼 one .
        <ul>
            <!-- 1 -->
            <li>
                <div class="content fadering">
                    <h2>🔬Research Developer, Mathis Laboratory</h2>
                    <h4>Feb 2021</h4>
                    <p>Development of a distributed data-pipeline aiming at synchronizing multiple AI and neuroscience experiments.</p>
                </div>
            </li>

            <!-- 2 -->
            <li>
                <div class="content fadering">
                    <h2>🔬Research Developer, Topology and Neuroscience Laboratory</h2>
                    <h4>Jan 2021</h4>
                    <p>
                        Topological Data Analysis for Covid19 tracing data of Geneva canton. We perform a network analysis on time-series of graphs to observe if the increase in number of Covid cases might be explained by changes in the topological structure of these graphs.
                    </p>
                </div>
            </li>
            <!-- 3 -->
            <li>
                <div class="content fadering">
                    <h2>💼Machine Learning Consultant, Junior Entreprise</h2>
                    <h4>Feb 2021</h4>
                    <p>
                        Development of an object detection pipeline for industrial application
                    </p>
                </div>
            </li>

            <!-- 4 -->
            <li>
                <div class="content fadering">
                    <h2>💼Machine Learning Engineer,Visium</h2>
                    <h4>Jun 2020- Dec 2020</h4>
                    <p>
                        In order to gain practical experience in industry, I decided to perform an internship in an ML consulting company. During this time, I improved solutions for 3 client projects (major Swiss companies) in Natural Language processing and Time Series forecasting. I also built the building blocks of a backend software and prepared deliverables for the DevOps.
                        After excellent client feedbacks, I got offered to keep on working at Visium as a part-time ML engineer in parallel to my studies. The topics I worked on involve NLP, object detection and information retrieval.
                    </p>
                </div>
            </li>

            <!-- 5 -->
            <li>
                <div class="content fadering">
                    <h2>🎓Master of Data Science, EPFL</h2>
                    <h4>2018-2017</h4>
                    <p>
                        This Master of Data Science allows me to develop skills of ML, Software Development, Statistics and Engineering. More generally, we approach both technically and practically ML-related challenges that we face in both in the industry and research sectors. 
                    </p>
                </div>
            </li>

            <!-- 6 -->
            <li>
                <div class="content fadering">
                    <h2>🎓Exchange year, ETH</h2>
                    <h4>2018-2019</h4>
                    <p>
                        Great accademic results allowed me to attend the master of Data Science at EPFL, for which I still had to confirm credits in CSE. I took this opportunity to peform an exchange at ETH.
                    </p>
                </div>
            </li>

            <!-- 7 -->
            <li>
                <div class="content fadering">
                    <h2>🔬Software Development Intern, Deplancke's Lab</h2>
                    <h4>2017-2018</h4>
                    <p>
                        I worked on the development of a multithreaded C++ real-time image analysis software facilitating a deterministic cell-bead coencapsulation allowing subsequent single cell sequencing.
                        Thanks to encouraging results, I got hired as a research assistant in the same laboratory to pursue my research on the same topic.
                    </p>
                </div>
            </li>

            <!-- 8 -->
            <li>
                <div class="content fadering">
                    <h2>🎓Bachelor</h2>
                    <h4>2015-2017</h4>
                    <p>
                        As a student at EPFL in Life Science Engineering, I had a position of teaching assistant in Probability and Statistics and Object-Oriented C++ courses.
                    </p>
                </div>
            </li>

        </ul>
    </div>
</body>